body {
	background-color: pink;
}

h1 {
	color: blue;
	text-align:center;
	font-family:helvetica;
	font-size:100px;
}

h2 {
	color: blue;
	text-align:center;
	font-family:helvetica;
	font-size:15px;
}

h3 {
	color: brown;
	font-family:helvetica;
	font-size:15px;
}
